.products-list {
    height: calc(100% - 60px);
    width: 350px;
    float: left;
    .datagrid-host {
        height: 100%;
    }
    .datagrid {
        margin-top: 0px;
    }
    .datagrid-column-title {
        font-size: 16px;
    }
    .clr-form-control {
        margin-top: 10px;
    }
    .datagrid-expandable-caret {
        display: none;
    }
}

.add-button {
    margin: 0px;
    margin-left: auto;
    margin-top: auto;
}

.list-item {
    width: 300px;
    display: flex;
    padding-bottom: 5px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    cursor: pointer;
    .delete-icon {
        height: 20px;
        width: 20px;
        margin-top: 15px;
        cursor: pointer;
        &:hover {
            color: red;
        }
    }
    &:last-child {
        border-bottom: none;
    }
    &-content {
        margin-left: 10px;
        h4,
        p {
            width: 220px;
            margin: 0;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }
        h4 {
            font-size: 14px;
            font-weight: bold;
        }
        p {
            color: rgb(170, 170, 170);
        }
    }
}

.error-input {
    border: 1px solid #c72100;
    border-radius: 5px;
}

.main-panel {
    height: calc(100% - 60px);
    width: 650px;
    float: left;
    padding: 20px;
}
