<div class="app-container">

  <header class="header-5" style="width:100%;">
    <div class="branding">
      <img src="assets/white_logo.png" style="color:white;" width="80">
    </div>
    <div class="header-nav">
      <a [routerLink]="'/clubs'" routerLinkActive="active" class="nav-link nav-text">Клубове</a>
      <a [routerLink]="'/products'" routerLinkActive="active" class="nav-link nav-text">Продукти</a>
      <a [routerLink]="'/stats'" routerLinkActive="active" class="nav-link nav-text">Статистика</a>
    </div>
  </header>

  <span *ngIf="!dbLoaded" class="spinner center-spinner"></span>

  <router-outlet *ngIf="dbLoaded"></router-outlet>

</div>