.clubs-list {
    height: calc(100% - 60px);
    width: 35%;
    float: left;
    .datagrid-host {
        height: 100%;
    }
    .datagrid {
        margin-top: 0px;
    }
    .datagrid-column-title {
        font-size: 16px;
    }
    .clr-form-control {
        margin-top: 10px;
    }
    .datagrid-expandable-caret {
        display: none;
    }
}

.add-button {
    margin: 0px;
    margin-left: auto;
    margin-top: auto;
}

.list-item {
    width: 300px;
    display: flex;
    padding-bottom: 5px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    cursor: pointer;
    .delete-icon {
        height: 20px;
        width: 20px;
        margin-top: 15px;
        margin-left: auto;
        cursor: pointer;
        &:hover {
            color: red;
        }
    }
    &:last-child {
        border-bottom: none;
    }
    &-content {
        margin-left: 10px;
        h4,
        p {
            width: 220px;
            margin: 0;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }
        h4 {
            font-size: 14px;
            font-weight: bold;
        }
        p {
            color: rgb(170, 170, 170);
        }
    }
}

.active-club,
.active-club:hover {
    background: #d8e3e9;
}

.error-input {
    border: 1px solid #c72100;
    border-radius: 5px;
}

.main-panel {
    height: calc(100% - 60px);
    width: 65%;
    float: left;
    padding: 20px;
}

.new-order-form {
    overflow: auto;
    .clr-form-control {
        margin-top: 0px;
        margin-right: 80px;
        float: left;
        .clr-control-container {
            padding-top: 12px;
        }
    }
    input {
        line-height: 36px;
        width: 50px;
        float: left;
        border: none;
        border-bottom: 1px solid gray;
        text-align: center;
        margin-right: 10px;
        &:focus {
            border: none;
        }
    }
    div {
        position: relative;
        float: left;
        height: 36px;
        span {
            position: absolute;
            bottom: 0;
        }
    }
    button {
        float: right;
        margin-left: 5px;
    }
}

.products-table {
    margin-top: 20px;
    max-height: 280px;
    .discount-info {
        .signpost-content-header {
            display: none;
        }
        .signpost-content-body {
            padding: 10px;
        }
        .signpost-action clr-icon {
            height: 17px;
            width: 17px;
        }
        table {
            width: 100%;
            color: rgb(0, 60, 255);
            font-weight: bold;
            td {
                text-align: center;
                width: 20%;
            }
        }
        span {
            color: rgb(0, 60, 255);
            font-weight: bold;
        }
    }
}
